<section class="section-testimonial" id="section-testimonial">
  <div class="rounded-[30px] bg-ColorCaribbeanGreen lg:rounded-[50px]">
    <div class="section-space">
      <div class="container-default">
        <!-- Judul & Deskripsi -->
        {{ with site.GetPage "testimonials" }}
        <div class="jos mb-[60px] xl:mb-20">
          <div class="max-w-[746px]">
            <div class="mb-5">
              <h2
                class="font-Kanit text-4xl font-medium leading-none -tracking-[1px] text-ColorMidnightMoss lg:text-5xl xl:text-7xl xxl:text-[80px]">
                {{ .Title }}
              </h2>
            </div>
          </div>
        </div>

        <!-- Slider -->
        <div class="jos ">
          <div class="flex flex-col lg:flex-row gap-12 h-[380px]">
            {{ range .Params.testimonials }}
            <div class="w-full bg-white p-8 !h-[380px] rounded-[10px] shadow-[0_4px_20px_rgba(0,0,0,0.1)]">
              <div class="flex h-full flex-col justify-between text-ColorMidnightMoss">
                <blockquote class="text-xl font-semibold -tracking-[1px] lg:text-2xl xl:text-3xl">
                  {{ .quote }}
                </blockquote>
                <div class="mt-6">
                  <span class="block text-xl font-semibold">{{ .name }}</span>
                  <span class="block">{{ .role }}</span>
                </div>
              </div>
            </div>

            {{ end }}
          </div>

          <!-- Navigasi -->
          <div
            class="relative z-10 mt-[50px] hidden flex-row-reverse justify-center gap-6 lg:-mt-[50px] lg:justify-start">
            <div
              class="slider-nav-btn-next flex h-[50px] w-[50px] items-center justify-center rounded-[50%] border border-ColorMidnightMoss bg-transparent text-ColorMidnightMoss transition-all duration-300 hover:bg-ColorMidnightMoss hover:text-ColorCaribbeanGreen">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div
              class="slider-nav-btn-prev flex h-[50px] w-[50px] items-center justify-center rounded-[50%] border border-ColorMidnightMoss bg-transparent text-ColorMidnightMoss transition-all duration-300 hover:bg-ColorMidnightMoss hover:text-ColorCaribbeanGreen">
              <i class="fa-solid fa-chevron-left"></i>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>